{% extends 'base.html.twig' %}

{% block title %}Supervisor{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <h1 class="texto-color-rojo">Pagina de Supervisor {{ apodo }}</h1>
{% endblock %}
